<% layout("layouts/boilerplate") %>
  <body>
    <h1>All Listings</h1>
    <form action="/listings/new" method="get">
      <button type="submit">Create New Listing</button>
    </form>

    <ul>
      <% listings.forEach(listing=> { %>
      <div>
        <h2>
          <li>
            <a href="/listings/<%= listing._id %>"> <%= listing.title %> </a>
          </li>
        </h2>
        <p><%= listing.description %></p>
        <img src="<%= listing.image.url %>" width="300" />
      </div>
      <% }); %>
    </ul>
  </body>
